@model Interclasse.Models.Quadra
@{
    ViewData["Title"] = $"Quadra {Model.Numero}";
}
<h1>@ViewData["Title"]</h1>

<p><b>Id: </b>@Model.Id</p>
<p><b>Numero: </b>@Model.Numero</p>
<p><b>Esporte: </b>@Model.Esporte</p>