@model Interclasse.Models.Time
@{
    ViewData["Title"] = $"Times: {Model.Estado}";
}
<h1>@ViewData["Title"]</h1>

<p><b>Id: </b>@Model.Id</p>
<p><b>Estado: </b>@Model.Estado</p>
<p><b>Tecnico(a): </b>@Model.Tecnico</p>